<div class='container-fluid'>
  <div class='row text-center white-text'>
    <h1 class='white-text'>Welcome to Robot World!</h1>
  </div>
  <div class='well'>
    <ul class='row text-center list-unstyled'>
      <h2>Press here to see all the Robots</h2>
      <li class><a href="/bots"><img src='../images/all_the_things.png' alt="view ALL the robots" width="200" height="200"></a></li><br>
      <h2>Press here to add a new Robot</h2>
      <li class><a href="/bots/new"><button class='btn btn-lg btn-success'>New Bot</button></a></li><br>
      <h2>Press here to view the dashboard</h2>
      <li class><a href="/dashboard"><button class='btn btn-lg btn-primary'>Dashboard</button></a></li>
    </ul>
  </div>
</div>
