<div class='container-fluid'>

  <div class='row text-center white-text'>
    <h1 id="greeting" class='white-text'>Welcome to Robot World!</h1>
  </div>

  <div id="options" class='row well text-center'>
    <h4 class="col-md-4 col-md-offset-4">
      Robot World is a basic, but fully functional CRUD Web
      application made possible by Sinatra and Sequel. Click the 'New Robot' button to get started
    </h4>
    <br><br><br><br><br><br><br>

    <a href="/bots/new"><button class='btn btn-lg btn-success'>New Bot</button></a></h2><br><br>

    <a href="/dashboard"><button class='btn btn-lg btn-primary'>Dashboard</button></a></h2><br><br><br>

    <p>Hint: Click the meme to see all your cool bots :D </p>

    <a href="/bots"><img src='../images/all_the_things.png' alt="view ALL the robots" width="200" height="200"></a>
  </div>

</div>
