<div class='container-fluid navbar navbar-default'>
  <a class='navbar navbar-brand navbar-link nav navbar-nav' href='/'>Cancel</a>
</div>

<div class='container-fluid row text-center'>
  <form action='/bots' method='post'>
    <div class='container-fluid'>
      <div class='row well'>
        <h1>Make a New Bot!</h1>

        <div class="form-group col-md-12">
          <label for="name" class="label label-info control-label">Name</label>
          <input class='form-control input-xs' type='text' name='robot[name]'/><br>


          <label for="birthdate" class="label label-info">Birthdate</label>
          <input class="form-control input-xs" id="robot-birthdate" pattern="\d{4}-\d{1,2}-\d{1,2}" name='robot[birthdate]' placeholder="(YYYY-MM-DD)"><br>

          <label for="city" class="label label-info">City</label>
          <input class='form-control input-xs' name='robot[city]'></input><br>

          <label for="state" class="label label-info">State</label>
          <input class='form-control input-xs' name='robot[state]' pattern="([A-Z]{2})" placeholder='Two Letter Code'></input><br>

          <label for="avatar" class="label label-info">Avatar Generator</label>
          <input class='form-control input-xs' name='robot[avatar]'placeholder="Put whatever you want here - The characters will be used to generate a unique avatar"></input><br>

          <label for="hire date" class="label label-info">Date Hired</label>
          <input class='form-control input-xs' name='robot[date_hired]' pattern="\d{4}-\d{1,2}-\d{1,2}" placeholder="(YYYY-MM-DD)"></input><br>
        </div>

        <div class="col-xs-4 col-xs-offset-4">
          <label for="departmen" class="label label-info">Department</label>
          <select class="form-control" name="robot[department]">
            <option value='Snack Management'>Snack Management</option>
            <option value='Nap Management'>Nap Management</option>
            <option value='Tech' selected>Tech</option>
          </select><br>
          <input value="submit" class='btn btn-xs btn-success' type='submit'/>
        </div>
      </div>
    </div>
  </form>
</div>
